#root {
  padding-top: 3vh;
  height: 100%;
}

.purple-text {
  color: var(--secondary-color);
}

.medium-text {
  font-size: 16px;
  font-weight: 600;
  padding-left: 0.5vw;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
